<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Empleados DS01</a>

    <div id="navbarNav" class="collapse navbar-collapse">
        <ul class="navbar-nav m1-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/listar-empleados" routerLinkActive="active">Ver empleados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/crear-empleado" routerLinkActive="active">Agregar empleados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/acerca-de" routerLinkActive="active">Acerca de</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>