<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    
        <div class="row justify-content-center">
            <div class="col-md-4">
        <div class="card-body">
          
          
          <div class="card" style="width: 22rem;">

            <img src="../../../assets/image/img.jpg" class="card-img-top" alt="...">
            <div class="card-body">

          <h6 class="card-subtitle mb-2 text-muted">Universidad Tecnológica de San Juan del Río</h6>
          <p class="card-text"><strong>TSU Jaqueline Arteaga Gonzalez</strong> <br> <strong>Estudiante de Desarrollo y Gestion de Software</strong><br> <strong>Edad: </strong> 21 <br><strong>Hobbies: </strong> Ajedrez, Leer</p>

          </div>
          </div>
        </div>
        </div>
        </div>

      

</body>
</html>
